<div>
    <h2 id="page-heading">
        <span>E Books</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-e-book" [routerLink]="['/e-book/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new E Book
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="eBooks?.length === 0">
        <span>No eBooks found</span>
    </div>
    <div class="table-responsive" *ngIf="eBooks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Format</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eBook of eBooks ;trackBy: trackId">
                <td><a [routerLink]="['/e-book', eBook.id, 'view' ]">{{eBook.id}}</a></td>
                <td>{{eBook.format}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/e-book', eBook.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/e-book', eBook.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(eBook)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
