<div class="row">
    <div class="col-md-9">

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Вы вошли в систему как "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <a class="alert-link" (click)="login()">Вход</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>У вас еще нет аккаунта?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>
